#first
{
	color: #fc4e68;
	margin-top: -150px;
	margin-left: 140px;
	
}
#second
{
	color: #fc4e68;
	margin-left: 140px;

}
#third
{
	color: #fc4e68;
	margin-left: 140px;
	
}
#fourth
{
	 color: #fc4e68;
	margin-left: 140px;
	
}
body
{
	background: black;
}
h1
{
	color: #6df906;
	border: solid;
	margin-right: 100px;
	margin-left: 100px;
}
#photo
{
	margin-left: 1200px;
	
}